p {
  margin-bottom: 2px;
  margin-top: 2px;
}

li {
  margin-bottom: 20px;
}

.notif {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgba(30, 30, 30, 0.9);
  padding: 10px;
  margin: 10px;
  width: fit-content;
  background-color: rgba(50,50,50,0.2);
  font-weight: bold;
  font-size: larger;
}
